#heart-container {
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
}

#twitter-heart {  
  position: absolute;  background:url('https://abs.twimg.com/a/1454637594/img/t1/web_heart_animation.png');
  background-position: 0px;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  top: -40px;
  left: -40px;
  pointer-events: none;
}


#toggle {
  opacity: 0; 
  transform: scale(3);
  position: absolute;
  &:checked + #twitter-heart {
    
    animation: heart-animate 0.8s steps(28) forwards;
  }
}


@keyframes heart-animate {
   100% { 
     background-position: -2800px;
  }
}