
  .search-box{
    width: 100%;
    position: relative;
    display: flex;
    width: 500px;
  
  }
  .search-input{
    width: 600px;
    padding:16px 0px 16px 20px;
    border: 2px solid black;
    border-radius: 9999px;
    
    outline: none;
    font-size: 20px;
    color: black;
    background: white;
    
  }
  .search-button{
   text-align: center;
 
  outline: none;
  cursor: pointer;
 

  font-size: 20px;
  
  position: relative;
  right: 40px;

  
  
  }
  .container{
    width: 35%;
    position: absolute;
    left: 48%;
    top: 7%;
    transform: translate(-50% , -50%);
  }
  